.footer {
  background-color: #000000;
  color: #e4d7d7;
  padding: 90px 10px;
  margin-top: 40px;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #2091d3; /* highlight color */
}
